In [1]:
# import dependencies and read csv files into pandas
import pandas as pd
f_sales = "Resources/vg_sales.csv"
f_reviews = "Resources/vg_reviews.csv"
df_sales = pd.read_csv(f_sales, encoding = 'utf-8')
df_reviews = pd.read_csv(f_reviews, encoding = 'utf-8')

In [2]:
# create n64 sales DF 
df_N64_sales_platform = df_sales.loc[df_sales["Platform"] == "N64"]

In [3]:
# selected columns of interest for n64 sales DF
N64_sales_clean = df_N64_sales_platform[['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales']]

In [4]:
# create n64 reviews DF, and selected columns of interest 
df_N64_reviews_platform = df_reviews.loc[df_reviews["platform"] == "Nintendo 64"]
df_N64_reviews_platform_clean = df_N64_reviews_platform[['title', 'score', 'score_phrase', 'editors_choice']]

In [5]:
# renamed n64 reviews column from "title" to "name"
df_N64_reviews_platform_clean = df_N64_reviews_platform_clean.rename(columns={"title": "Name"})

In [6]:
# reset index for both dataframes
new_index_N64_sales = N64_sales_clean.reset_index(drop=True)
new_index_N64_reviews = df_N64_reviews_platform_clean.reset_index(drop=True)

In [7]:
# view header rows for n64 sales df
new_index_N64_sales.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales
0,Super Mario 64,N64,1996.0,Platform,Nintendo,6.91
1,Mario Kart 64,N64,1996.0,Racing,Nintendo,5.55
2,GoldenEye 007,N64,1997.0,Shooter,Nintendo,5.80
3,The Legend of Zelda: Ocarina of Time,N64,1998.0,Action,Nintendo,4.10
4,Super Smash Bros.,N64,1999.0,Fighting,Nintendo,2.95

In [8]:
# view header rows for n64 reviews df
new_index_N64_reviews.head()

                    Name  score score_phrase editors_choice
0  Mortal Kombat Trilogy    4.1          Bad              N
1           Wave Race 64    9.7      Amazing              Y
2            Cruis'n USA    4.0          Bad              N
3          Pilotwings 64    8.2        Great              N
4         Super Mario 64    9.8      Amazing              Y

In [11]:
#import SQL connection dependencies and establish parameters for SQL connection to amazon server
import sqlalchemy
import mysql.connector
from sqlalchemy import create_engine

database_username = 'group04'
database_password = 't98NP4bqYVe4vQvA'
database_ip       = 'cwru-data-project02.ciuevunbeloh.us-east-2.rds.amazonaws.com'
database_name     = 'group04'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                              format(database_username, database_password,
                                                     database_ip, database_name))

In [ ]:
# convert n64 reviews DF to SQL table, and then upload table to database using SQL connection, non-indexed, because join will be later performed based on "name"
new_index_N64_reviews.to_sql(name = 'N64_reviews', con = database_connection, index=False, if_exists='append')

In [12]:
# convert n64 sales DF to SQL table, and then upload table to database using SQL connection, non-indexed, because join will be later performed based on "name"
new_index_N64_sales.to_sql(name = 'N64_sales', con = database_connection, index=False, if_exists='append')

'\nname : string\nName of SQL table.\n\ncon : sqlalchemy.engine.Engine or sqlite3.Connection\nUsing SQLAlchemy makes it possible to use any DB supported by that library. Legacy support is provided for sqlite3.Connection objects.\n\nschema : string, optional\nSpecify the schema (if database flavor supports this). If None, use default schema.\n\nif_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’\nHow to behave if the table already exists.\nfail: Raise a ValueError.\nreplace: Drop the table before inserting new values.\nappend: Insert new values to the existing table.\n\nindex : boolean, default True\nWrite DataFrame index as a column. Uses index_label as the column name in the table.\n\nindex_label : string or sequence, default None\nColumn label for index column(s). If None is given (default) and index is True, then the index names are used. A sequence should be given if the DataFrame uses MultiIndex.\n\nchunksize : int, optional\nRows will be written in batches of this size at a time. By default, all rows will be written at once.\n\ndtype : dict, optional\nSpecifying the datatype for columns. The keys should be the column names and the values should be the SQLAlchemy types or strings for the sqlite3 legacy mode.\n'